@font-face {
  font-family: 'poppins-regular';
  src: url('/fonts/poppins-regular.ttf');
}

@font-face {
  font-family: 'poppins-bold';
  src: url('/fonts/poppins-bold.ttf');
}

@font-face {
  font-family: 'speedee';
  src: url('/fonts/speedee.ttf');
}

@mixin text-box() {
  color: $text-primary;
  padding: 3vh 2vw;

  h2 {
    font: {
      family: 'speedee', 'sans-serif';
      size: 2.3vw;
    }
  }
  p {
    margin-top: 2vh;
    font: {
      family: 'poppins-regular', 'sans-serif';
      size: 1.1vw;
    }
  }
}

// Color variables

$background: #FFD700;
$accent: #FFAD00;

$dark-primary: #1A4E1E;
$primary: #27742D;
$light-primary: #319138;

$dark-secondary: #6D0810;
$secondary: #DB1020;
$light-secondary: #FF182A;

$text-primary: #F5F5F5;
$text-secondary: #000000;

// Basic element presetting

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

img {
  user-select: none;
}

input::-webkit-inner-spin-button, input::-webkit-outer-spin-button {
  display: none;
}

input[type=number] {
  -moz-appearance:textfield;
}

h1, h2, h3, h4, h5, h6, p {
  font: inherit;
}

button, input {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  padding: 0;
  transition: scale 0.5s;
}

button:hover {
  scale: 1.2;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: $background;
}

header {
  position: sticky;
  top: 0;
  width: 100%;
  height: 10vh;
  padding: 2vh 3vw;
  background: $dark-primary;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  width: 100%;
}

footer {
  width: 100%;
  height: 20vh;
  padding: 2vh 6vw;
  background: $dark-primary;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $text-primary;
  user-select: none;
}

// Header items

.logo {
  height: 6vh;
}

.login-button {
  width: 4vw;
  height: 4vh;
  border-radius: 0.5vw;
  position: absolute;
  top: 3vh;
  right: 5vw;
  background: $light-primary;
  color: $text-primary;

  font: {
    family: 'poppins-bold', 'sans-serif';
    size: 0.9vw;
  }
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 2vw;
  color: $text-primary;

  a {
    user-select: none;
  }

  li {
    transition: margin 0.5s;
  }

  font: {
    family: 'poppins-regular', 'sans-serif';
    size: 1.4vw;
  }
}

.menu li:hover {
  margin: -1vh 0 1vh 0;
}

.current-page {
  margin: -1vh 0 1vh 0;
  width: fit-content;
  position: relative;
}

.current-page::after {
  position: absolute;
  content: '';
  bottom: -0.8vh;
  border-radius: 1vw;
  left: 0;
  width: 100%;
  height: 15%;
  background: $accent;
}

// Footer items

.icons-credit {
  color: $text-primary;
  opacity: 50%;
  font: {
    family: 'poppins-bold', 'sans-serif';
    size: 0.9vw;
  }
}

.icons-credit:hover {
  text-decoration: underline;
}

.copyright {
  color: $text-primary;
  font: {
    family: 'speedee', 'sans-serif';
    size: 1.1vw;
  }
}

.socials {
  display: flex;
  gap: 1.1vw;
  user-select: none;
  width: fit-content;

  img {
    max-width: 2.6vw;
    min-width: 2.6vw;
  }

  a {
    display: grid;
    place-items: center;
    transition: scale 0.5s;
  }
}

.socials a:hover {
  scale: 1.2;
}

// Home items

.burger-container {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 13vh;

  img {
    height: 85vh;
    margin-left: -30vw;
  }
}

.burger-description-box {
  display: flex;
  flex-direction: column;
  width: 32vw;
  height: 37vh;
  background: $primary;
  margin-left: -20vw;
  border-radius: 1vw;

  @include text-box();
}

.building-container {
  display: flex;
  margin-top: 13vh;
  overflow: hidden;

  img {
    width: 50vw;
  }
}

.building-description-box {
  width: 40vw;
  height: 40vh;
  margin-top: -20vh;
  border-radius: 1vw;
  background: $primary;

  @include text-box();
}

.building-button {
  width: 20vw;
  height: 5vh;
  border-radius: 0.5vw;
  background: $light-primary;
  color: $text-primary;
  margin: 4vh 8vw;

  font: {
    family: 'poppins-bold', 'sans-serif';
    size: 1.8vw;
  }
}

.cafe-container {
  display: flex;
  overflow: hidden;

  img {
    width: 50vw;
  }
}

.cafe-description-box {
  width: 40vw;
  height: 33vh;
  border-radius: 1vw;
  background: $primary;
  margin: -75vh 0 60vh;

  @include text-box();
}

// Order items

.title {
  margin: 10vh 0;
  font: {
    size: 5vw;
    family: 'poppins-bold', 'sans-serif';
  }
  color: $text-secondary;
}

.cart {

  img {
    width: 5vw;
  }
  div {
    width: 2.7vw;
    height: 2.7vw;
    border-radius: 50%;
    background: $accent;
    position: relative;
    margin: -4vh 1vw 4vh -1vw;
    display: grid;
    place-items: center;
    user-select: none;

    font: {
      family: 'poppins-regular', 'sans-serif';
      size: 1.5vw;
    }
  }
  align-self: flex-end;
  margin-right: 5vw;
}

.category-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2vw;
  width: 100%;
  height: 6vh;
  background: $accent;

  button {
    font: {
      family: 'poppins-regular', 'sans-serif';
      size: 1vw;
    }
  }
}

.item-list {
  margin: 10vh auto;
  display: flex;
  width: 79vw;
  gap: 5vw;
  flex-wrap: wrap;
}

.item-container {
  display: flex;
  flex-wrap: wrap;
  width: 23vw;
  gap: 3vh 1vw;

  h2, p {
    width: 23vw;
    text-wrap: wrap;
    text-align: center;

    font: {
      family: 'poppins-bold', 'sans-serif';
      size: 1.5vw;
    }
  }
  p {
    font: {
      family: 'poppins-regular', 'sans-serif';
      size: 1vw;
    }
  }
}

.item {
  position: relative;
  overflow: hidden;
  width: 23vw;
  height: 23vw;
  background: #808080 url('/images/placeholder.png') no-repeat center / 23vw;
}

.item::after {
  position: absolute;
  width: 10vw;
  height: 10vw;
  background: $accent;
  content: '€XX,XX';
  border-radius: 50%;
  left: -1.5vw;
  bottom: -1.5vw;
  display: grid;
  place-items: center;
  user-select: all;
  color: $text-secondary;
  font: {
    family: 'speedee', 'sans-serif';
    size: 1.7vw;
  }
}

.button-add, .button-remove, .button-edit, .button-delete {
  width: 7vw;
  height: 3vw;
  display: grid;
  place-items: center;
  margin: 0 2vw;
  border-radius: 5vw;
}

.button-add {
  background: $light-primary url('/images/add.svg') no-repeat center / 1.5vw;
}

.button-remove {
  background: $light-secondary url('/images/remove.svg') no-repeat center / 1.5vw;
}

.button-edit {
  background: $accent;
}

// Booking items

.form-booking {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  background: $primary;
  padding: 2vw;
  height: fit-content;
  width: 40vw;
  border-radius: 1vw;
  margin-bottom: 15vw;
}

.form-booking-item {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  align-items: center;
  gap: 1vw;
  margin: 2vw 0;

  h2 {
    width: 100%;
    text-align: center;
    color: $text-secondary;
    font: {
      family: 'poppins-regular', 'sans-serif';
      size: 2.3vw;
    }
  }
  input {
    width: 60%;
    background: {
      color: $light-primary;
      image: none;
    }
    border: {
      width: 0;
      style: none;
      radius: 1vw;
    }
    font: {
      family: 'poppins-regular', 'sans-serif';
      size: 1.3vw;
    }
    padding: 1vw
  }
}

.button-datepicker {
  position: relative;
}

// Contact items

.contact-box {
  @include text-box();
  display: flex;
  flex-flow: column wrap;
  gap: 3vw;

  background: $primary;
  h2 {
    font-size: 2vw;
  }
  border-radius: 1vw;
  height: fit-content;
  width: 35vw;
  margin: 25vh 0;
}

.contact-list {
  display: flex;
  flex-flow: column wrap;
  gap: 1vw;
  width: 30vw;
}

.contact-item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    font: {
      family: 'poppins-regular', 'sans-serif';
      size: 1.3vw;
    }
  }
}

// Login items

.login-modal {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: grid;
  place-items: center;

  form {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    background: $dark-primary;
    padding: 2vw;
    border-radius: 1vw;
    height: fit-content;
    width: fit-content;
    gap: 1vw;

    input {
      background: $light-primary;
      cursor: text;
      border-radius: 0.7vw;
      padding: 0.3vw;
      font: {
        family: 'poppins-regular', 'sans-serif';
        size: 1.3vw;
      }
      width: 20vw;
    }
  }
}

// Misc items

.hidden {
  visibility: hidden;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-caret {
  cursor: text;
}